.pelicula-principal {
  font-size: 14px;
  min-height: 35.62em;
  color: rgb(0, 0, 0);
  /* background: linear-gradient(to bottom, white, black); */
  background: url(../img/luca_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 6em;
  display: flex;
}

.pelicula-principal .contenedor {
  margin: 100 auto;
  margin-bottom: 2.25em;
  min-width: 350px;
}

.pelicula-principal .titulo {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(255, 255, 255);
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.75em;
  max-width: 40%;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(80, 80, 80),
    0 0 0.2em rgb(0, 0, 0);
  color: #ffffff;
}

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: white;
  margin-left: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}